.chat_main
  .chat_main__group_info
    .chat_main__group_info__name
      test
      .chat_main__group_info__name__member
        member:name
    = link_to "Edit", "#", class: "chat_main__group_info__btn"
          
  .chat_main__message_list
    .chat_main__message_list__group
      .chat_main__message_list__user-name
        ken
      .chat_main__message_list__time
        2019/11/20(Wed)17:43:01
    .chat_main__message_list__user-massage
      おはよう！
    .chat_main__message_list__group2
      .chat_main__message_list__user-name2
        ken
      .chat_main__message_list__time2
        2019/11/20(Wed)17:43:02
    .chat_main__message_list__user-massage2
      今日は夜から雨
    
  .chat_main__message_form
    .chat_main__message_form__group
      
      .chat_main__message_form__group__masuku
        type a message
        = link_to "#", class: "chat_main__message_form__group__masuku__huxairu__btn" do
          = icon('fas', 'images',class:"chat_main__message_form__group__masuku____huxairu__btn__icon")
      = link_to "Send", "#", class: "chat_main__message_form__group__btn"
        
   
      

    

    
  

