.side_bar
  .side_bar__usename
    kento
    .side_bar__usename__top_items
      = link_to "#", class: "side_bar__usename__top_items__btn" do
        = icon('fas', 'edit')
      = link_to "#", class: "side_bar__usename__top_items__btn" do
        = icon('fas', 'cog')
  .side_bar__group_list
    techcamp
    .side_bar__group_list__groupname
      まだメッセージがありません

  


  